body {
  margin: 0px;
}

#shoutText {
  visibility: hidden;
  text-align: center;
  width: 100%;
  font-size: 3em;
  word-wrap: none;
  position: absolute;
  z-index: 1;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  /* https://codepen.io/juanbrujo/pen/yGpAK */
  letter-spacing: .05em;
  line-height: 1.2em;
  text-shadow: 
    4px 4px 0px #181616,
    7px 7px 0px #00000033;
  
}

#video {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
